*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
label{
    color:  #322E2D;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.text{
    color:  #322E2D;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.07px;

}
.color{
    color:  #331F8E;
text-align: right;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.07px;

}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.type{
    background: -webkit-linear-gradient(25deg, #fff, #fff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    white-space: nowrap;
    animation: type 1.5s steps(90) 1.5s 1 normal both, cursor 1s step-end infinite;
    position: relative;
  }
  
  @keyframes type {
    from {
      width: 0;
    }
  
    to {
      width: 60%;
    }
  }
  
  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }
  


  .sign-in-button:disabled{
    opacity: .5;
    cursor: not-allowed;
  }

.black{
  color: #322E2D;
}

.border-bottom{
  border-bottom: 1px solid #EBEBEF;
}


@media(max-width:768px){
  .hero__content{
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    h1, p{
      width: 100% !important;
    }
    h1{font-size: 25px !important;}
    p{font-size: 16px !important;}
  }
  .info {
      padding: 50px 9px !important;
      .info__text{
        max-width: 100% !important;
        h2{
          font-size: 25px;
        }
      }
  }
  .info__image{display: none;}
  .customer-section, .footer .container{
    display: flex;
    flex-direction: column;
  }
  .footer-bottom{
    margin-bottom: 65px !important;
    display: flex;
    flex-direction: column;
}
.w-25{width: 100% !important;}
.cat-title{font-size: 18px !important;}
}